flows.json
[
    {
        "id": "6d392d8272264a12",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "54d74a7f2166a35a",
        "type": "change",
        "z": "6d392d8272264a12",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "^r",
                "fromt": "re",
                "to": "mensaje",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "r$",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "2fad2933b2f24eb8"
            ]
        ]
    },
    {
        "id": "58b306c32aef3126",
        "type": "inject",
        "z": "6d392d8272264a12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "one",
                "v": "rrrr",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "r Nuevo",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "54d74a7f2166a35a",
                "6af1fcad5668e403",
                "e8a9e240407b72ea"
            ]
        ]
    },
    {
        "id": "2fad2933b2f24eb8",
        "type": "debug",
        "z": "6d392d8272264a12",
        "name": "Menssage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "6af1fcad5668e403",
        "type": "switch",
        "z": "6d392d8272264a12",
        "name": "",
        "property": "one",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rrrru",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "d182026b9850746e"
            ]
        ]
    },
    {
        "id": "d182026b9850746e",
        "type": "debug",
        "z": "6d392d8272264a12",
        "name": "MenssageSwitch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "e8a9e240407b72ea",
        "type": "function",
        "z": "6d392d8272264a12",
        "name": "",
        "func": "var varAux=msg.payload\nmsg.payload=varAux+\"1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "bcf4232e66313f2d"
            ]
        ]
    },
    {
        "id": "bcf4232e66313f2d",
        "type": "debug",
        "z": "6d392d8272264a12",
        "name": "MenssageFunction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    }
]