flows.json
[
    {
        "id": "e5ac4d12bc45e544",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "642c82d411ed39f3",
        "type": "mysql",
        "z": "e5ac4d12bc45e544",
        "mydb": "2f9759683fc7db12",
        "name": "test",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "24847e92cb883b39"
            ]
        ]
    },
    {
        "id": "80bdcd6f3f44a55f",
        "type": "function",
        "z": "e5ac4d12bc45e544",
        "name": "",
        "func": "msg.topic=\"SELECT * FROM clientes\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "642c82d411ed39f3"
            ]
        ]
    },
    {
        "id": "9ff6d69b24b5fc59",
        "type": "inject",
        "z": "e5ac4d12bc45e544",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ejecutar",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "80bdcd6f3f44a55f"
            ]
        ]
    },
    {
        "id": "24847e92cb883b39",
        "type": "debug",
        "z": "e5ac4d12bc45e544",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f9759683fc7db12",
        "type": "MySQLdatabase",
        "name": "",
        "host": "basjmebuqyrzqnvq2zpr-mysql.services.clever-cloud.com",
        "port": "3306",
        "db": "basjmebuqyrzqnvq2zpr",
        "tz": "",
        "charset": "UTF8"
    }
]
